
<li class="mb-3">
	{{burger_name}}

	{{#if devour}}
		<span class="change-devour ml-5" data-id="{{this.id}}" data-newdevour="{{devour}}"><i class="fas fa-hamburger fa-2x"></i></span>
	{{/if}}

	{{#unless devour}}
		<span class="delete-burger ml-5" data-id="{{this.id}}"><i class="fas fa-trash-alt fa-2x"></i></span>
	{{/unless}}
</li>
